<!-- <header>
	<app-navbar></app-navbar>
</header>
<main>
    <section></section>
    <aside></aside>
</main>
<footer></footer>
<router-outlet></router-outlet>

<app-about></app-about>
<app-contact></app-contact>
<app-courses></app-courses>
<app-home></app-home>
<app-login></app-login>
<app-playlist></app-playlist>
<app-profile></app-profile>
<app-register></app-register>
<app-teacher></app-teacher>
<app-teacher-profile></app-teacher-profile>
<app-update></app-update>
<app-watch-video></app-watch-video> -->

<router-outlet></router-outlet>
